@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --basic-blue: #5b8db2;
  --basic-dark-blue: #1f3447;
  --basic-white: #e9eae9;
  --basic-black: #171717;
  --basic-light-green: #e1c65e;
  --basic-medium-green: #bfa631;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

html,
body {
  background-color: var(--basic-blue);
  overscroll-behavior: contain;
  overscroll-behavior-x: none;
  overflow-x: hidden;
}

/* NAGŁÓWKI SEKCJI */
h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 70px;
}

/* TEKST UZUPEŁNIAJACY DO SEKCJI */
h3 {
  font-family: 'Noto Serif', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

/* CALL TO ACCTION & BUTTONS */
h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 30px;
}

a {
  font-family: 'Noto Serif', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.bold {
  font-weight: 700;
}

.display-none {
  display: none;
}

/* ----------------------- */
/* ALL SCREENS */
/* ----------------------- */

.screen {
  height: 600px;
  transform: translateZ(0) scale(1);
  z-index: 8;
  display: flex;
  justify-content: center;
}

.flex-container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* border: red 2px solid; */
}

.text-container {
  padding: 60px 80px;
  /* border: rgb(36, 210, 21) 1px solid; */
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.text-container h1,
.text-container h3 {
  text-align: left;
  color: var(--basic-black);
}

.text-container h3 {
  max-width: 400px;
}

/* ----------------------- */

/* WELCOME SCREEN */

.welcome-screen {
  background: var(--basic-white);
  color: #000;
}

.welcome-screen .bottomBG {
  position: absolute;
  width: 110%;
  max-width: 1400px;
  bottom: 0;
  transform: translateY(1px);
}

.welcome-screen .flex-container {
  display: flex;
  align-items: center;
}

.welcome-screen .text-container {
  display: flex;
  justify-content: start;
  width: 80%;
}

/* ----------------------- */
/* WINNICA */

.winnica-screen {
  background-color: var(--basic-dark-blue);
}

.winnica-screen .flex-container {
  display: flex;
  flex-wrap: wrap;
}

.winnica-screen .right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.winnica-screen .text-container h1,
.winnica-screen .text-container h3 {
  text-align: left;
  color: var(--basic-white);
}

.winnica-screen h1 {
  color: var(--basic-white);
}

.grape-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#grape {
  width: 300px;
  height: 300px;
  padding: 10px 40px 40px;
}

.winnica-screen .learnmore-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
  width: 100%;
}

#learn-more-winnica:hover + #arrow-winnica {
  transform: translateX(20px);
}

#learn-more-winnica:hover {
  cursor: pointer;
}

#learn-more-winnica {
  color: var(--basic-white);
}

#arrow-winnica {
  width: 60px;
  height: 55px;
  z-index: 2;
  transition: 0.4s ease;
  transform: translateX(10px);
}

#arrow-winnica:hover {
  cursor: pointer;
  transform: translateX(20px);
}

/* ----------------------- */
/* BROWAR*/

.browar-screen {
  background-color: var(--basic-medium-green);
}

.browar-screen .flex-container {
  display: flex;
  flex-wrap: wrap;
}

.browar-screen .right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.browar-screen .text-container h1,
.browar-screen .text-container h3 {
  text-align: left;
  color: var(--basic-white);
}

.browar-screen h1 {
  color: var(--basic-white);
}

.grape-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#beer {
  width: 200px;
  height: 200px;
  padding: 60px 30px 250px 0px;
}

.browar-screen .learnmore-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
  width: 100%;
}

#learn-more-browar:hover + #arrow-browar {
  transform: translateX(20px);
}

#learn-more-browar:hover {
  cursor: pointer;
}

#learn-more-browar {
  color: var(--basic-white);
}

#arrow-browar {
  width: 60px;
  height: 55px;
  z-index: 2;
  transition: 0.4s ease;
  transform: translateX(10px);
}

#arrow-browar:hover {
  cursor: pointer;
  transform: translateX(20px);
}

/* ----------------------- */
/* WYDARZENIA */

.wydarzenia-screen {
  background-color: var(--basic-white);
}

.wydarzenia-screen .text-container {
  width: 100%;
  height: 100%;
}

.wydarzenia-screen .learnmore-container {
  /* border: rgb(202, 202, 202) 1px solid; */
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 150px;
}

#learn-more-wydarzenia:hover + #arrow-wydarzenia {
  transform: translateX(20px);
}

#learn-more-wydarzenia:hover {
  cursor: pointer;
}

#learn-more-wydarzenia {
  color: var(--basic-black);
}

#arrow-wydarzenia {
  width: 60px;
  height: 55px;
  z-index: 2;
  transition: 0.4s ease;
  transform: translateX(10px);
}

#arrow-wydarzenia:hover {
  cursor: pointer;
  transform: translateX(20px);
}

/* ----------------------- */
/* DOMEK */

.domek-screen {
  background-color: var(--basic-medium-green);
}

.domek-screen .flex-container {
  display: flex;
  flex-wrap: wrap;
}

.domek-screen .right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.domek-screen .text-container h1,
.domek-screen .text-container h3 {
  text-align: left;
  color: var(--basic-white);
}

.domek-screen h1 {
  color: var(--basic-white);
}

.domek-container {
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: rgb(202, 202, 202) 1px solid; */
}

#domek-homepage {
  width: 400px;
  height: 300px;
  padding: 10px 40px 40px;
}

.domek-screen .learnmore-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 40px;
  width: 100%;
}

#learn-more-domek:hover + #arrow-domek {
  transform: translateX(20px);
}

#learn-more-domek:hover {
  cursor: pointer;
}

#learn-more-domek {
  color: var(--basic-white);
}

#arrow-domek {
  width: 60px;
  height: 55px;
  z-index: 2;
  transition: 0.4s ease;
  transform: translateX(10px);
}

#arrow-domek:hover {
  cursor: pointer;
  transform: translateX(20px);
}

/* ----------------------- */
/* ADDITIONAL SITES */
/* ----------------------- */

.new-page-container {
  position: absolute;
  right: -100%;
  top: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  transition: right 0.5s ease-in-out;
  background-color: var(--basic-white);
  opacity: 1;
}

.new-page-container h1 {
  color: var(--basic-black);
}

/* WINNICA */

.menu-content,
.learn-more-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100%;
  padding: 20px;
}

.exitBTN {
  /* background: url('img/vineyard-01.jpg'); */
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
  transition: 0.4s ease;
}

.exitBTN:hover {
  transform: scale(108%);
}

.zarezerwuj-btn {
  width: 200px;
  height: 100px;
}

.domek-opis {
  max-width: 800px;
  padding: 40px;
}

/* DOMEK - additional site */
.domekAdditionalSite h1 {
  padding: 40px;
}

.domekAdditionalSite h1 {
  padding: 0px 40px;
}

/* ----------------------- */
/* MEDIA */
/* ----------------------- */

@media (max-width: 600px) {
  .screen {
    height: 700px;
  }

  .text-container {
    width: 100%;
    height: 50%;
  }

  .welcome-screen .text-container {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .winnica-screen .right-side {
    width: 100%;
    height: 50%;
  }
  #grape {
    width: 150px;
    height: 150px;
    padding: 0px 0px 180px 0px;
  }
  .winnica-screen .learnmore-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
